{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
<div id="jstree">
<ul>
  <li data-jstree='{"type":"f-closed"}'>
  <ul>
    {% recursetree nodes %}
        <li{% if node.is_leaf_node %} data-jstree='{"type":"file"}'{% else %} data-jstree='{"type":"f-closed"}'{% endif %}>
            <a href="/">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
  </ul>
  </li>
</ul>
</div>

{% endblock %}
